﻿@model IEnumerable<TT.Domain.Skills.DTOs.LearnableSkillsDetail>
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Purchase Training";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.TalkToLorekeeper())">Talk</a></li>
    <li><a href="@Url.Action(MVC.PvP.MySkills())">My spells</a></li>
    @if (ViewBag.Filter == PvPStatics.MobilityInanimate || ViewBag.Filter == PvPStatics.MobilityPet)
    {
        <li><a href="@Url.Action(MVC.Info.GearTool())">Equipment helper</a></li>
    }
}

<div class="containerInner">
    
    <h1>Purchase Training</h1>

    <p>Which spell would you like to learn?  There are currently @Model.Count() spells in this category that you can be taught, each at the price of @TT.Domain.Statics.PvPStatics.LorekeeperSpellPrice Arpeyjis <span title="Arpeyjis" class="icon icon-money"></span> each.</p>

    <p>You have <b>@ViewBag.Money</b> Arpeyjis <span title="Arpeyjis" class="icon icon-money"></span> available for spending.</p><br>

    <ul>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityFull))">Animate spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityInanimate))">Inanimate spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityPet))">Pet/Animal spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityMindControl))">Other</a></li>
    </ul>

    <hr>
    
    <table id="Spells" class="table table-hover messageTable dt-responsive">
        <thead>
        <tr>
            <th>Spell Name</th>
            <th>Form Name</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var s in Model.OrderBy(s => s.FriendlyName))
        {
            <tr>
                <td class="playerMediatingNotification"><b>@s.FriendlyName</b></td>
                <td><b>@s.FormSource.FriendlyName</b></td>
                <td>
                @{
                    if (s.MobilityType == PvPStatics.MobilityFull)
                    {
                        <div class="portrait" style="background-image: url(@HtmlHelpers.GetImageUrl(s.FormSource.PortraitUrl, s.MobilityType, true)); float: right; bottom: 0; border: 1px solid black;">
                            <span style="float: right;">@HtmlHelpers.PrintItemTypeIcon(s.FormSource.Gender)</span>
                        </div>
                    }
                    else if (s.MobilityType == PvPStatics.MobilityInanimate || s.MobilityType == PvPStatics.MobilityPet)
                    {
                        <div class="portrait" style="background-image: url(@HtmlHelpers.GetImageUrl(s.FormSource.ItemSource.PortraitUrl, s.MobilityType, true)); float: right; bottom: 0; border: 1px solid black;">
                            <span style="float: right;">@HtmlHelpers.PrintItemTypeIcon(s.FormSource.ItemSource.ItemType)</span>
                        </div>
                    }
                    else
                    {
                        <text>(no image)</text>
                    }
                }
                </td>
                <td><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpellSend(s.Id))">Purchase Training</a></td>
            </tr>
        }
        </tbody>
    </table>

</div>

@section scripts
{
    <script>
    $('#Spells').dataTable({
        "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
    });
    </script>
}

@section head
{
    <style>
    tr {
        border: 1px dashed rgb(161, 105, 105);
        text-align: center;
    }
    </style>
}