﻿@model TT.Domain.Models.PvPWorldStat


<h1>Admin</h1>


<p>This is important information.  Do not meddle with this data lightly.</p>

@using (Html.BeginForm(MVC.PvPAdmin.ChangeWorldStatsSend(), FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id);



    <label>Test server?</label>
        @Html.CheckBoxFor(m => m.TestServer)

        <br><br>

        <label>Turn Number</label>
        @Html.TextBoxFor(m => m.TurnNumber)

        <br><br>

        <label>Round turn duration</label>
        @Html.TextBoxFor(m => m.RoundDuration)

        <br><br>

        <label>Chaos Mode?</label>
        @Html.CheckBoxFor(m => m.ChaosMode)

        <br><br>

        <label>Joke Shop activated?</label>
        @Html.CheckBoxFor(m => m.JokeShop)

    <br><br>

          <label>Next Round Start Timestamp (Ex: 1/5/2018 11:00:00 PM)</label>
    @Html.TextBoxFor(m => m.RoundStartsAt)

    <br><br>

    <label>Turn speed configuration:</label>

    @Html.DropDownListFor(i => i.TurnTimeConfiguration, new SelectList(
        new List<Object>{
            new { value = "5min"  , text = "5 minutes"  },
            new { value = "3min"  , text = "3 minutes"  }
        },
        "value",
        "text",
        2))

    <br><br>


        <input type="submit" value="Save">

}