﻿@model TT.Domain.ViewModels.NewsPageViewModel
@using TT.Domain.Statics
@{
    ViewBag.Title = "News";
}
@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Info.GameNews_Archive())">News Archive</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a></li>
    <li><a href="@Url.Action(MVC.Info.GearTool())">Equipment Helper</a></li>
    <li><a href="@Url.Action(MVC.Info.ServerPopulation())">Server Population By Turn</a></li>
    <li><a href="@Url.Action(MVC.Contribution.Contribute())">Contribute</a></li>
    <li><a href="https://gitlab.com/transformania/tt-game">Source Code</a></li>
    @{if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
        {
            <li><a href="@Url.Action(MVC.Moderator.ListNewsPosts())">Edit News</a></li>
        }
    }
}

<div class="containerInner listdots">

    Misc Links:  <span class="glyphicon glyphicon-star-empty"></span><a href="https://ttwiki.transformation.tf/wiki/browse.php">Alyx Portalz's Unofficial TT Wiki</a>, <span class="glyphicon glyphicon-star-empty"></span><a href="@Url.Action(MVC.Report.Question())">Ask Question</a>



    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="@Url.Action(MVC.Contribution.Contribute())">community contributors</a> here.</h4>

    @{
        foreach (var n in Model.NewsPosts)
        {

            if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
            {
                <a href="@Url.Action(MVC.Moderator.EditNewsPost(n.Id))" class="bad">[Edit]</a>
            }

            <p>@n.Timestamp.ToString("MMMM d")</p>
            @Html.Raw(n.Text)

            <hr>

        }
    }
    <div style="text-align:center;">
        <h2>Contributions and Contributors</h2>

        <p>
            Thank you to the many <a href="@Url.Action(MVC.Contribution.Contribute())#credits">people who have contributed to the game</a>.
        </p><p>
            If you would like to join them, take a look at the ways you can <a href="@Url.Action(MVC.Contribution.Contribute())">contribute game content</a>.
        </p>
    </div>

</div>
